<!-- CONTENT  -->
<section class="content">
   <div class="content-header"></div>
   <div class="content__body">
      <div class="card">
         <div class="card-header">
            <h4>Quản lý bình luận</h4>

            <form>
               <div class="search-wrapper">
                  <input type="text" placeholder="Tìm kiếm" name="search" />
               </div>
            </form>
         </div>
         <div class="card-body">
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th class="text-center align-middle">STT</th>
                     <th class="text-center align-middle text-nowrap">Tên người dùng</th>
                     <th class="text-center align-middle text-nowrap">Căn hộ bình luận</th>
                     <th class="text-center align-middle">Nội dung</th>
                     <th class="text-center align-middle">Thời gian</th>
                     <th class="text-center align-middle">Action</th>
                  </tr>
               </thead>
               <% let index = 1 %> <% for(let i = renderComment.length - 1; i >= 0; i--) { %>
               <tbody>
                  <th class="text-center align-middle"><%= index++ %></th>
                  <td class="text-center align-middle text-nowrap"><%= renderComment[i].userName %></td>
                  <% for(let j = 0; j< apartment.length; j++) { %> <% if(renderComment[i].apartmentId ==
                  apartment[j]._id) { %>
                  <th class="text-center align-middle text-nowrap"><%=apartment[j].heading%></th>

                  <%} %> <%} %>

                  <td class="text-center align-middle"><%= renderComment[i].content %></td>
                  <td class="text-center align-middle text-nowrap">
                     <%= renderComment[i].createdAt.toLocaleTimeString() %><br /><%=
                     renderComment[i].createdAt.toLocaleDateString() %>
                  </td>
                  <td class="text-center align-middle">
                     <a href="/dashboard/deletecmt?id=<%= renderComment[i]._id %>" class="btn btn-danger">Xóa</a>
                  </td>
               </tbody>
               <% } %>
            </table>
         </div>
      </div>
      <!-- DELETE modal  -->
      <!-- Modal -->
   </div>
   <script>
      const $ = document.querySelector.bind(document);
      $('.sidebar-menu_comment').classList.add('active');
   </script>
</section>
