<!-- CONTENT  -->
<section class="content">
   <div class="content-header"></div>
   <div class="content__body">
      <div class="card">
         <div class="card-header">
            <h4>Quản lý liên hệ</h4>
         </div>
         <div class="card-body">
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th class="text-center align-middle">STT</th>
                     <th class="text-center align-middle">Email</th>
                     <th class="text-center align-middle">Số điện thoại</th>
                     <th class="text-center align-middle">Tên người dùng</th>
                     <th class="text-center align-middle">tên căn hộ</th>
                     <th class="text-center align-middle">Thời gian</th>
                     <th class="text-center align-middle">Action</th>
                  </tr>
               </thead>
               <% index = 1 %> <% for(let i = contact.length - 1; i >= 0; i--) {%>
               <tbody>
                  <th class="text-center align-middle"><%= index++ %></th>
                  <td class="text-center align-middle"><%= contact[i].email %></td>
                  <td class="text-center align-middle"><%= contact[i].phonenumber %></td>
                  <td class="text-center align-middle"><%= contact[i].fullname %></td>
                  <td class="text-center align-middle text-wrap">
                     Người dùng cần tư vấn về căn hộ <br /><%= contact[i].apartmentname %>
                  </td>
                  <td class="text-center align-middle text-nowrap">
                     <%= contact[i].createdAt.toLocaleTimeString() %><br /><%= contact[i].createdAt.toLocaleDateString()
                     %>
                  </td>
                  <td class="text-center align-middle">
                     <a href="/dashboard/deleteContact?id=<%= contact[i]._id %>" class="btn btn-danger">Xóa</a>
                  </td>
               </tbody>
               <% } %>
            </table>
         </div>
      </div>
   </div>
   <script>
      const $ = document.querySelector.bind(document);
      $('.sidebar-menu_contact').classList.add('active');
   </script>
</section>
