<!-- CONTENT  -->
<section class="content">
   <div class="content-header"></div>
   <div class="content__body">
      <div class="card">
         <div class="card-header">
            <h4>Quản lý liên hệ</h4>
         </div>
         <div class="card-body">
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th class="text-center align-middle">STT</th>
                     <th class="text-center align-middle">Email</th>
                     <th class="text-center align-middle">Số điện thoại</th>
                     <th class="text-center align-middle">Name</th>
                     <th class="text-center align-middle">tên căn hộ</th>
                     <th class="text-center align-middle">Thời gian</th>
                     <th class="text-center align-middle">Action</th>
                  </tr>
               </thead>

               <tbody>
                  <% for(let i = 0; i < message.length; i++) {%>
                  <th class="text-center align-middle"><%= i+1 %></th>
                  <td class="text-center align-middle"><%= message[i].email %></td>
                  <td class="text-center align-middle"><%= message[i].phonenumber %></td>
                  <td class="text-center align-middle"><%= message[i].username %></td>
                  <td class="text-center align-middle text-wrap"><%= message[i].content %></td>
                  <td class="text-center align-middle text-nowrap"><%= message[i].createdAt.toLocaleDateString() %></td>
                  <td class="text-center align-middle">
                     <a href="/dashboard/deletemess?id=<%= message[i]._id %>" class="btn btn-danger">Xóa</a>
                  </td>
                  <% } %>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <script>
      const $ = document.querySelector.bind(document);
      $('.sidebar-menu_contact').classList.add('active');
   </script>
</section>
