<!-- CONTENT  -->
<section class="content">
   <div class="content-header"></div>
   <div class="content__body active">
      <div class="card">
         <div class="card-header">
            <h4>Quản lý tài khoản</h4>
            <form>
               <div class="search-wrapper">
                  <input type="text" placeholder="Tìm kiếm" name="search" />
               </div>
            </form>
         </div>
         <div class="card-body">
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th class="text-center align-middle">STT</th>
                     <th class="text-center align-middle">Email</th>
                     <th class="text-center align-middle">Số điện thoại</th>
                     <th class="text-center align-middle">Tên người dùng</th>
                     <th class="text-center align-middle">Vai trò</th>
                     <th class="text-center align-middle" class="center">Action</th>
                  </tr>
               </thead>
               <% for(let i = 0; i < renderUsers.length; i++) { %>
               <tbody>
                  <th class="text-center align-middle"><%= i +1 %></th>
                  <td class="text-center align-middle"><%= renderUsers[i].email %></td>
                  <td class="text-center align-middle"><%= renderUsers[i].phonenumber %></td>
                  <td class="text-center align-middle"><%= renderUsers[i].fullname %></td>
                  <%for(let j = 0; j < renderRoles.length; j++) { %> <% if(renderRoles[j].userId == renderUsers[i]._id )
                  { %>
                  <td class="text-center align-middle"><%= renderRoles[j].name %></td>
                  <% } %> <%} %>
                  <td class="text-center align-middle">
                     <a href="/dashboard/deleteUser?id=<%= renderUsers[i]._id %>" class="btn btn-danger">Xóa</a>
                  </td>
               </tbody>
               <% }%>
            </table>
         </div>
      </div>
   </div>

   <script>
      const $ = document.querySelector.bind(document);
      const $$ = document.querySelectorAll.bind(document);

      const navs = $$('.list__nameNav');
      const content__bodys = $$('.content__body');

      const contentActive = $('.content__body.active');

      navs.forEach((nav, index) => {
         const content = content__bodys[index];
         nav.onclick = function () {
            $('.list__nameNav.active').classList.remove('active');
            $('.content__body.active').classList.remove('active');

            this.classList.add('active');
            content.classList.add('active');
         };
      });
      $('.sidebar-menu_user').classList.add('active');
   </script>
</section>
