<div class="content__body">
   <div class="row">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header">
               <h4>Quản lý đăng tin</h4>
               <form>
                  <div class="search-wrapper">
                     <input type="text" placeholder="Tìm kiếm" name="search" />
                  </div>
               </form>
            </div>
            <div class="card-body">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th class="text-center align-middle">STT</th>
                        <th class="text-center align-middle">Miền</th>
                        <th class="text-center align-middle">Tên căn hộ</th>
                        <th class="text-center align-middle">Giá căn hộ</th>
                        <th class="text-center align-middle" class="col-span" colspan="2">Action</th>
                     </tr>
                  </thead>

                  <% for(let i = 0; i < renderApartment.length; i++) {%>
                  <tbody>
                     <th class="text-center align-middle"><%= i+1 %></th>
                     <td class="text-center align-middle"><%= renderApartment[i].region %></td>
                     <td class="text-center align-middle"><%= renderApartment[i].heading%></td>
                     <td class="text-center align-middle"><%= renderApartment[i].price.toLocaleString("en") %></td>
                     <td class="text-center align-middle">
                        <a href="/dashboard/updateApartment/<%= renderApartment[i]._id %>" class="btn btn-primary edit"
                           >Sửa</a
                        >
                        <a href="/dashboard/delete?id=<%= renderApartment[i]._id %>" class="btn btn-danger">Xóa</a>
                     </td>
                  </tbody>
                  <% } %>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   const $ = document.querySelector.bind(document);
   $('.sidebar-menu_apartment').classList.add('active');
</script>
