<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/analysis.css" />
      <link rel="stylesheet" href="/styles/base.css" />
      <title>Document</title>
   </head>
   <body>
      <%- include('../layouts/header') %>
      <div class="grid wide container">
         <div class="center1">
            <a href="/detail/<%= apartment._id %>" type="submit" class="btn-success back_apart">Trở Lại</a>
         </div>
         <form action="/analysis/<%=apartment.id%>" method="POST">
            <div class="form-ptich">
               <div class="login-form">
                  <h1>Bảng Phân Tích</h1>
                  <div class="input-box">
                     <span> Giá Trị Căn Hộ </span>
                     <input class="" type="number" placeholder="VND" name="price" value="<%= apartment.price%>" />
                  </div>

                  <div class="input-box">
                     <label for="">Tiến Độ Thanh Toán</label>
                     <select name="type" class="form-control">
                        <option value="normal">Tiến Độ Thường</option>
                        <option value="70">70%</option>
                        <option value="90">90%</option>
                        <option value="vnh">Vay Ngân Hàng</option>
                     </select>
                  </div>
                  <div class="center">
                     <button type="submit" class="btn-success">Kiểm Tra</button>
                  </div>
               </div>
            </div>
         </form>
         <div class="analysis">
            <div>
               <h2 class="title">Bảng Phân Tích Tài Chính</h2>
               <div class="table1">
                  <table class="table">
                     <thead>
                        <tr class="kkkk">
                           <th>DANH MỤC</th>
                           <th>ĐƠN VỊ (%)</th>
                           <th>ĐƠN VỊ (vnd)</th>
                           <th>THUẾ</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <span> GIÁ NIÊM YẾT </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= 100 %>%</div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= apartment.price %></div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> CHÍNH SÁCH CHIẾT KHẤU THANH TOÁN </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% if(type == '70') { %> <%= percentDiscount = 10 %>% <% } else if(type == '90') { %>
                                 <%= percentDiscount = 12 %>% <% } else if(type=='vnh'){ %> <%= percentDiscount = 0 %>%
                                 <% }else { %> <%= percentDiscount = 7 %>% <% } %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= discount = apartment.price * percentDiscount / 100 %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= vatDis = discount-(discount * 10 / 100) %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> CÁC CHIẾT KHẤU KHÁC </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= percentOther = 5 %>%</div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= other = vatDis * percentOther / 100 %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= vatOther = other-(other *10 / 100) %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> TỔNG SỐ TIỀN CHIẾT KHẤU </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= vatSum = vatDis + vatOther %></div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> TỔNG GIÁ TRỊ CHIẾT KHẤU </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= newPrice =apartment.price - vatSum %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div>
               <h2 class="title">Tiến Độ Thanh Toán</h2>
               <div class="table1">
                  <table class="table">
                     <thead>
                        <tr class="kkkk">
                           <th>TIẾN ĐỘ</th>
                           <th>TỶ LỆ</th>
                           <th>SỐ TIỀN THANH TOÁN</th>
                           <th>THỜI HẠN THANH TOÁN</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <span> Đặt cọc </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= deposit = 2.5 %>%</div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= sumDeposit = apartment.price * deposit / 100 %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 Đăng ký Phiếu giữ chỗ Căn biệt thự - Ký thỏa thuận đặt cọc
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> Đợt 1 </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= phase[0].percent %>%</div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= moneyOne = newPrice * phase[0].percent / 100 - sumDeposit %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 Ngay khi ký HĐMB (Trong vòng 7 ngày sau khi thanh toán đặt cọc) <br />(Số tiền thanh
                                 toán đã bao gồm thuế GTGT đã trừ tiền đặt cọc )
                              </div>
                           </td>
                        </tr>
                        <% a = 0 %> <% for(let i = 1; i< phase.length; i++) { %>
                        <tr>
                           <td>
                              <span> Đợt <%= i +1 %> </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= phase[i].percent %>%</div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% if(i == phase.length - 1) {%> <%= money = apartment.price * phase[i].percent / 100
                                 %> <% } else {%> <%= money = newPrice * phase[i].percent / 100 %> <% } %> <% a += money
                                 %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% if(i == phase.length -2) { %> Nhận bàn giao Villas theo thông báo của CĐT (Số tiền
                                 thanh toán đã bao gồm thuế GTGT của đợt <%= i+1 %> và <%= i+2 %>) <% } else if(i ==
                                 phase.length - 1) {%> Trong vòng 15 ngày kể từ ngày CĐT gửi văn bản thông báo bàn giao
                                 Giấy Chứng Nhận Quyền Sở Hữu Căn Villas <br />(Số tiền thanh toán không bao gồm thuế
                                 GTGT) <% } else { %> Ngay khi ký HĐMB (Trong vòng 30 ngày sau khi thanh toán đợt <%= i
                                 %>) (Số tiền thanh toán đã bao gồm thuế GTGT) <% } %>
                              </div>
                           </td>
                        </tr>
                        <% } %>
                        <tr>
                           <td>
                              <div class="form-group mb-0 d-inline-block">Tổng tiền</div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= a + moneyOne + sumDeposit %></div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div>
               <h2 class="title">Bảng Tính Lợi Nhuận</h2>
               <div class="table1">
                  <table class="table">
                     <thead>
                        <tr class="kkkk">
                           <th>CHI TIẾT</th>
                           <th>TIỀN</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <span> TỈ LỆ FULL PHÒNG / THÁNG </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= full = 70 %>%</div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> GÍA CHO THUÊ PHÒNG </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= apartment.priceMonth %></div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> QUY ĐỔI VOUCHER </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= apartment.priceMonth * 2 %></div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> LỢI NHUẬN THU VỀ TRÊN THÁNG </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= profit = apartment.priceMonth*(30*full/100) %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> CHI PHÍ SỬA CHỮA </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= fix = profit * 3 / 100 %></div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> CHIA SẺ LỢI NHUẬN </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= share = profit * 20 / 100 %></div>
                           </td>
                        </tr>

                        <tr>
                           <td>
                              <span>LỢI NHUẬN THU VỀ/THÁNG (Sau Khi Trừ Chi Phí) </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= month = profit - share - fix %></div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> LỢI NHUẬN THU VỀ TRÊN NĂM </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= year = month * 12 %></div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> LỢI NHUẬN THU VỀ SAU 10 NĂM </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= end = year * 10 %></div>
                           </td>
                        </tr>
                        <tr></tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div>
               <h3 class="title">Tiến Độ Thanh Toán Ngân Hàng</h3>
               <div class="table2">
                  <table class="table">
                     <thead>
                        <tr class="kkkk">
                           <th>Năm</th>
                           <th>Lợi Nhuận Đơn Vị Vận Hành Trả Về</th>
                           <th>Lãi Suất</th>
                           <th>Dư Nợ</th>
                           <th>Lợi Nhuận Thu Về</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% loan = apartment.price * 70 / 100 %>
                        <div class="loan">
                           <tr>
                              <td>
                                 <span> 1 </span>
                              </td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block"><%= year %></div>
                              </td>
                              <td>0</td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block">
                                    <div class="form-group mb-0 d-inline-block"><%= loan - year %></div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block">
                                    <div class="form-group mb-0 d-inline-block"></div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <span> 2 </span>
                              </td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block"><%= year %></div>
                              </td>
                              <td><div class="form-group mb-0 d-inline-block"><%= one = loan * (6.5/100/2) %></div></td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block">
                                    <div class="form-group mb-0 d-inline-block"></div>
                                 </div>
                              </td>
                           </tr>
                           <% for(let i = 1; i < 10; i++) { %>
                           <tr>
                              <td>
                                 <span> <%= i + 1 %> </span>
                              </td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block"><%= year %></div>
                              </td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block"><%= loan * (6.5/100) %></div>
                              </td>
                              <td></td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block">
                                    <div class="form-group mb-0 d-inline-block"><%= loan * (6.5/100) %></div>
                                 </div>
                              </td>
                           </tr>
                           <% } %>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
