<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/analysis.css" />
      <link rel="stylesheet" href="/styles/base.css" />
      <title>Analysis Apartment</title>
   </head>
   <body>
      <%- include('../layouts/header') %>
      <div class="grid wide container">
         <div class="center1">
            <a href="/detail/<%= apartment._id %>" type="submit" class="btn-success back_apart">Trở Lại</a>
         </div>
         <form action="/analysis/<%=apartment.id%>" method="POST" class="area__table">
            <div class="form-ptich">
               <div class="login-form">
                  <h1>Bảng Phân Tích</h1>
                  <div class="input-box">
                     <label> Giá Trị Căn Hộ </label>
                     <div class="price">
                        <input placeholder="VND" name="price" value="<%= apartment.price%>" class="input__price" />
                     </div>
                  </div>

                  <div class="input-box">
                     <label>Tiến Độ Thanh Toán</label>
                     <select name="type" class="form-control" onChange="year(this.value)" id="getYear">
                        <option value="normal">Tiến Độ Thường</option>
                        <option value="70">70%</option>
                        <option value="90">90%</option>
                        <option value="vnh">Vay Ngân Hàng</option>
                     </select>
                     <div id="show-option"></div>
                  </div>
                  <div class="center">
                     <button type="submit" class="btn-success">Kiểm Tra</button>
                  </div>
               </div>
            </div>
         </form>
         <div>
            <div class="area__table">
               <h2 class="title">Bảng Phân Tích Tài Chính</h2>
               <div class="table1">
                  <table class="table">
                     <thead>
                        <tr class="kkkk">
                           <th>DANH MỤC</th>
                           <th>ĐƠN VỊ (%)</th>
                           <th>ĐƠN VỊ (vnd)</th>
                           <th>GỒM VAT</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <span> GIÁ NIÊM YẾT </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= 100 %>%</div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= apartment.price.toLocaleString("en") %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> CHÍNH SÁCH CHIẾT KHẤU THANH TOÁN </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% if(type == '70') { %> <%= percentDiscount = apartment.percentDiscount70 %>% <% }
                                 else if(type == '90') { %> <%= percentDiscount = apartment.percentDiscount90 %>% <% }
                                 else if(type=='vnh'){ %> <%= percentDiscount = 0 %>% <% }else { %> <%= percentDiscount
                                 = apartment.percentDiscount %>% <% } %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% discount = apartment.price * percentDiscount / 100 %> <%=
                                 Math.ceil(discount).toLocaleString("en") %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% vatDis = discount-(discount * 10 / 100) %> <%=
                                 Math.ceil(vatDis).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> CÁC CHIẾT KHẤU KHÁC </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% if(type == '70') { %> <%= percentOther = apartment.percentOther70 %>% <% } else
                                 if(type == '90') { %> <%= percentOther = apartment.percentOther90 %>% <% } else
                                 if(type=='vnh'){ %> <%= percentOther = 0 %>% <% }else { %> <%= percentOther =
                                 apartment.percentOther %>% <% } %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% other = vatDis * percentOther / 100 %> <%= Math.ceil(other).toLocaleString("en") %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% vatOther = other-(other *10 / 100) %> <%= Math.ceil(vatOther).toLocaleString("en")
                                 %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> TỔNG SỐ TIỀN CHIẾT KHẤU </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% vatSum = vatDis + vatOther %> <%= Math.ceil(vatSum).toLocaleString("en") %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> TỔNG GIÁ TRỊ SAU CHIẾT KHẤU </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <div class="form-group mb-0 d-inline-block"></div>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% newPrice =apartment.price - vatSum %> <%= Math.ceil(newPrice).toLocaleString("en")
                                 %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"></div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="area__table">
               <h2 class="title">Tiến Độ Thanh Toán</h2>
               <div class="table1">
                  <table class="table">
                     <thead>
                        <tr class="kkkk">
                           <th>TIẾN ĐỘ</th>
                           <th>TỶ LỆ</th>
                           <th>SỐ TIỀN THANH TOÁN</th>
                           <th>THỜI HẠN THANH TOÁN</th>
                           <% if(type.includes('vnh')) { %>
                           <th>GHI CHÚ</th>
                           <% }%>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <span> Đặt cọc </span>
                           </td>
                           <td>
                              <% deposit = 2.5 %>
                              <div class="form-group mb-0 d-inline-block"></div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% sumDeposit = apartment.price * deposit / 100 %> <%=
                                 Math.ceil(sumDeposit).toLocaleString("en") %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 Đăng ký Phiếu giữ chỗ Căn biệt thự - Ký thỏa thuận đặt cọc
                              </div>
                           </td>
                           <% if(type.includes('vnh')) { %>
                           <td>
                              <div class="form-group mb-0 d-inline-block">Khách hàng thanh toán bằng vốn tự có</div>
                           </td>
                           <% } %>
                        </tr>
                        <% if(!type.includes('vnh')) { %>
                        <tr>
                           <td>
                              <span> Đợt 1 </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= phase[0].percent.toLocaleString("en") %>%
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% moneyOne = newPrice * phase[0].percent / 100 - sumDeposit %> <%=
                                 Math.ceil(moneyOne).toLocaleString("en") %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 Ngay khi ký HĐMB (Trong vòng 7 ngày sau khi thanh toán đặt cọc) <br />(Số tiền thanh
                                 toán đã bao gồm thuế GTGT đã trừ tiền đặt cọc )
                              </div>
                           </td>
                        </tr>
                        <% a = 0 %> <% for(let i = 1; i< phase.length; i++) { %>
                        <tr>
                           <td>
                              <span> Đợt <%= i +1 %> </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= phase[i].percent %>%</div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% if(i == phase.length - 1) {%> <% money = apartment.price * phase[i].percent / 100 %>
                                 <%= Math.ceil(money).toLocaleString("en") %> <% } else {%> <% money = newPrice *
                                 phase[i].percent / 100 %> <%= Math.ceil(money).toLocaleString("en") %> <% } %> <% a +=
                                 money %>
                              </div>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% if(i == phase.length -2) { %> Nhận bàn giao Villas theo thông báo của CĐT (Số tiền
                                 thanh toán đã bao gồm thuế GTGT của đợt <%= i+1 %> và <%= i+2 %>) <% } else if(i ==
                                 phase.length - 1) {%> Trong vòng 15 ngày kể từ ngày CĐT gửi văn bản thông báo bàn giao
                                 Giấy Chứng Nhận Quyền Sở Hữu Căn Villas <br />(Số tiền thanh toán không bao gồm thuế
                                 GTGT) <% } else { %> Ngay khi ký HĐMB (Trong vòng 30 ngày sau khi thanh toán đợt <%= i
                                 %>) (Số tiền thanh toán đã bao gồm thuế GTGT) <% } %>
                              </div>
                           </td>
                        </tr>
                        <% } %>
                        <tr>
                           <td>
                              <div class="form-group mb-0 d-inline-block">Tổng tiền</div>
                           </td>
                           <td colspan="3">
                              <div class="form-group mb-0 d-inline-block">
                                 <% total = a + moneyOne + sumDeposit %> <%= Math.ceil(total).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <% } else { %> <% a = 0, b = 0 %> <% for(let i = 0; i< phase.length; i++) { %>
                        <tr>
                           <td>
                              <span> Đợt <%= ((i+1) ) %> </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= phase[i].percent %>%</div>
                           </td>
                           <td>
                              <% if(phase[i] == phase[0]) {%>
                              <div class="form-group mb-0 d-inline-block">
                                 <% moneyOne = newPrice * phase[0].percent / 100 - sumDeposit %> <%=
                                 Math.ceil(moneyOne).toLocaleString("en") %>
                              </div>
                              <% } else { %>
                              <div class="form-group mb-0 d-inline-block">
                                 <% money = apartment.price * phase[i].percent / 100 %> <% a += money %> <%=
                                 Math.ceil(money).toLocaleString("en") %> <% } %>
                              </div>
                           </td>
                           <div>
                              <% if(phase[i] == phase[0]) {%>
                              <td rowspan="2">
                                 <div class="form-group mb-0 d-inline-block">
                                    Ngay khi ký HĐMB (Trong vòng 7 ngày sau khi Đặt cọc)
                                    <br />(Số tiền thanh toán đã bao gồm thuế GTGT đã trừ tiền đặt cọc)
                                 </div>
                              </td>
                              <% } else if(phase[i] == phase[2]) { %>
                              <td rowspan="2">
                                 <div class="form-group mb-0 d-inline-block">
                                    Nhận bàn giao Villas theo thông báo của CĐT <br />(Số tiền thanh toán đã bao gồm VAT
                                    của đợt 2 và đợt 3)
                                 </div>
                              </td>
                              <% } else if(phase[i] == phase[4] ) { %>
                              <td>
                                 <div class="form-group mb-0 d-inline-block" style="color: red">
                                    Trong vòng 15 ngày kể từ ngày CĐT gửi<br />
                                    văn bản thông báo bàn giao <br />Giấy Chứng Nhận Quyền Sở Hữu Căn Villas<br />
                                    (Số tiền thanh toán không bao gồm thuế GTGT)
                                 </div>
                              </td>
                              <% } %>
                              <td>
                                 <% if((i+2) % 2 || phase[i] == phase[4]) { %>
                                 <div class="form-group mb-0 d-inline-block" style="color: red">
                                    Ngân hàng giải ngân (Ân hạn nợ gốc và hỗ trợ lãi suất tối đa 18 tháng)
                                 </div>
                                 <%} else { %>
                                 <div class="form-group mb-0 d-inline-block">Khách hàng thanh toán bằng vốn tự có</div>
                                 <%} %>
                              </td>
                           </div>
                        </tr>
                        <% } %>
                        <tr>
                           <td colspan="3">
                              <div class="form-group mb-0 d-inline-block">Tổng tiền khách bỏ ra</div>
                           </td>
                           <td colspan="2">
                              <div class="form-group mb-0 d-inline-block">
                                 <% customer = (a + moneyOne + sumDeposit) * 30 / 100 %> <%=
                                 Math.ceil(customer).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="3">
                              <div class="form-group mb-0 d-inline-block">Tổng tiền ngân hàng hỗ trợ</div>
                           </td>
                           <td colspan="2">
                              <div class="form-group mb-0 d-inline-block">
                                 <% totalLoan = (a + moneyOne + sumDeposit) - customer %> <%=
                                 Math.ceil(totalLoan).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="3">
                              <div class="form-group mb-0 d-inline-block">Tổng tiền</div>
                           </td>
                           <td colspan="2">
                              <div class="form-group mb-0 d-inline-block">
                                 <% total = a + moneyOne + sumDeposit %> <%= Math.ceil(total).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <% } %>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="area__table">
               <h2 class="title">Bảng Tính Lợi Nhuận</h2>
               <div class="table1">
                  <table class="table">
                     <thead>
                        <tr class="kkkk">
                           <th>CHI TIẾT</th>
                           <th>TIỀN</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <span> TỈ LỆ FULL PHÒNG / THÁNG </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block"><%= full = 70 %>%</div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> GIÁ CHO THUÊ PHÒNG </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <%= apartment.rentalRate.toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> QUY ĐỔI VOUCHER </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% voucherChange = apartment.rentalRate * 2 %> <%=
                                 Math.ceil(voucherChange).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> LỢI NHUẬN THU VỀ TRÊN THÁNG </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% profit = apartment.rentalRate*(30*full/100) %> <%=
                                 Math.ceil(profit).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> CHI PHÍ SỬA CHỮA </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% fix = profit * 3 / 100 %> <%= Math.ceil(fix).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> CHIA SẺ LỢI NHUẬN </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% share = profit * 20 / 100 %> <%= Math.ceil(share).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>

                        <tr>
                           <td>
                              <span>LỢI NHUẬN THU VỀ/THÁNG (Sau Khi Trừ Chi Phí) </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% month = profit - share - fix %> <%= Math.ceil(month).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> LỢI NHUẬN THU VỀ TRÊN NĂM </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% year = month * 12 %> <%= Math.ceil(year).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <span> LỢI NHUẬN THU VỀ SAU 10 NĂM </span>
                           </td>
                           <td>
                              <div class="form-group mb-0 d-inline-block">
                                 <% end = year * 10 %> <%= Math.ceil(end).toLocaleString("en") %>
                              </div>
                           </td>
                        </tr>
                        <tr></tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <% if(type.includes('vnh')) { %>
            <div class="area__table">
               <h3 class="title">Tiến Độ Thanh Toán Ngân Hàng</h3>
               <div class="table2">
                  <table class="table">
                     <thead>
                        <tr class="kkkk">
                           <th>Năm</th>
                           <th>Lợi Nhuận Đơn Vị Vận Hành Trả Về</th>
                           <th>Lãi Suất</th>
                           <th>Dư Nợ</th>
                           <th>Lợi Nhuận Thu Về</th>
                        </tr>
                     </thead>
                     <tbody>
                        <div class="loan">
                           <% for(let i = 0; i < yearVnh; i++) { %>
                           <tr>
                              <td>
                                 <span> <%= i + 1 %> </span>
                              </td>
                              <td>
                                 <div class="form-group mb-0 d-inline-block"><%= year.toLocaleString("en") %></div>
                              </td>
                              <td>
                                 <% if(i == 1) { %>
                                 <div class="form-group mb-0 d-inline-block">
                                    <% interest[i] = totalLoan * (inputInterest/100/2) %> <%=
                                    Math.ceil(interest[i]).toLocaleString("en") %>
                                 </div>
                                 <% }else if(i==0) { %>
                                 <div class="form-group mb-0 d-inline-block">0</div>
                                 <% } else { %>
                                 <div class="form-group mb-0 d-inline-block">
                                    <% interest[i] = debt[i-1] * (inputInterest/100) %> <%=
                                    Math.ceil(interest[i]).toLocaleString("en") %>
                                 </div>
                                 <%} %>
                              </td>
                              <td>
                                 <% debt[i] = debt[i-1] - (year- interest[i]) %> <% if(i == 0) { %>
                                 <div class="form-group mb-0 d-inline-block">
                                    <% debt[i] = totalLoan - year %> <%= Math.ceil(debt[i]).toLocaleString("en") %>
                                 </div>
                                 <% } else if(debt[i] < 0){%>
                                 <div class="form-group mb-0 d-inline-block"><%= debt[i] = 0 %></div>
                                 <% } else { %>
                                 <div class="form-group mb-0 d-inline-block">
                                    <%= Math.ceil(debt[i]).toLocaleString("en") %>
                                 </div>

                                 <% }%>
                              </td>
                              <td>
                                 <%if(debt[i] > 0){ %>
                                 <div class="form-group mb-0 d-inline-block"><%= earned[i] = 0%></div>
                                 <% } else { %>
                                 <div class="form-group mb-0 d-inline-block">
                                    <% earned[i] = year - interest[i] - debt[i-1] + earned[i-1] %> <%=
                                    Math.ceil(earned[i]).toLocaleString("en") %>
                                 </div>
                                 <%} %>
                              </td>
                           </tr>
                           <% } %>
                        </div>
                     </tbody>
                  </table>
               </div>
            </div>
            <% } %>
         </div>
      </div>
   </body>
</html>
<script>
   function year(value) {
      var htmlObj = document.getElementById('show-option');
      if (value) {
         htmlObj.innerHTML = '';
      }
      if (value == 'vnh') {
         htmlObj.innerHTML = `<select type='number' name='yearVnh'> <option value='5'>5 năm</option> <option value='6'>6 năm</option> <option value='7'>7 năm</option> <option value='8'>8 năm</option> <option value='9'>9 năm</option> <option value='10' selected>10 năm</option> <option value='11'>11 năm</option> <option value='12'>12 năm</option> <option value='13'>13 năm</option> <option value='14'>14 năm</option> <option value='15'>15 năm</option> </select> <p>Lãi suất ngân hàng</p><input type="number" placeholder="%" name="inputInterest" min="1" max="20" step="0.1" class="inputInterest" >`;
      }
   }
</script>
